.hidden {
    display:none;
}
.error {
    color:red;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

li {
    clear: both;
}

li button.close {
    cursor: pointer;
    border: none;
    outline: none;
    color: red;
    float: right;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: 20px;
  }
  
.close:hover {background: #bbb;}